.todaysForecast {
    color: #ffffff;
    padding: 0 25rem;
    margin-top: 2.5rem;
}
.foreCast {
    padding: 0 1.2rem;
}
.foreCast p {
    padding-left: 1rem;
}
.forcastCard {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #8862FC;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    padding: 3px 0px;
    width: 500px;
}